.team{
    text-align: center;
    font-size: 2rem;
    font-weight: semi-bold;
    color: #333;
    margin-top: 20px;
}

.p1{
    text-align: center;
    font-size: 1.2rem;
    color: #3d3c3c;
    margin-top: 10px;
}
